.bookmark {
  display: flex;
  justify-content: center;
  li {
    border: 1px solid $gray-500;
    &:not(:last-child) {
      border-right: none;
    }
    &:first-child,&:last-child {
      a {
        padding: .75rem;
      }
    }
  }
  a {
    display: block;
    padding: .75rem .875rem;
    color: $gray-500;
    transition: background-color .3s, color .3s;
    @include mq(md) {
      font-size: 1.125rem;
      padding: .75rem 1rem;
    }
    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}