.send {
  display: inline-block;
  background-color: $primary;
  color: $white;
  padding: .5rem 3.375rem;
  @include mq(md) {
    padding: .625rem 4.8125rem;
  }
  @include mq(lg) {
    padding: 1rem 8.9375rem;
  }
}