// blog 

.blog-nav {
  background-color: $secondary;
}

.blog-nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq(md) {
    padding: 0 1.5625rem;
  }
  @include mq(lg) {
    padding: 0;
  }
  a {
    transition: color .3s;
    &:hover {
      color: rgba($white,0.85);
    }
  }
  img {
    width: 29px;
    height: 29px;
  }
}

.blog__main {
  padding: 1.75rem 0 3.5rem;
  @include mq(md) {
    padding: 2rem 1.5625rem 6rem;
  }
  @include mq(lg) {
    padding: 2.5rem 0 10rem;
  }
  .title {
    margin-bottom: 1.75rem;
    @include mq(md) {
      margin-bottom: 2.5rem;
    }
    @include mq(lg) {
      margin-bottom: 3.75rem;
    }
  }
}

.blog__media {
  position: relative;
  width: 100%;
  padding-top: 63%;
  margin-right: 1.875rem;
  margin-bottom: .5rem;
  @include mq(md) {
    width: 48.2%;
    padding-top: 30%;
    margin-bottom: 0;
  }
  @include mq(lg) {
    width: 57.2%;
    padding-top: 36%;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.blog__card {
  position: relative;
  flex: 1;
  @include mq(lg) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
}

// blog end

// blogArticle
.blog-article {
  .blog-nav__menu {
    @include mq($until:md) {
      display: block;
    }
    li {
      @include mq($until:md) {
        width: 25%;
        text-align: center;
      }
    }
  }
}

.blog-article__main {
  padding: 0 0 3.5rem;
  @include mq(md) {
    padding: 0 1.52625rem 6rem;
  }
  @include mq(lg) {
    padding: 0 0 10rem;
  }
}

.blog-article__content {
  @include mq(md) {
    width: 74%;
    margin-right: 1.875rem;
  }
  p {
    opacity: 0.6;
  }
}

.blog-article__sidebar {
  display: none;
  flex: 1;
  @include mq(md) {
    display: block;
  }
  img {
    @include mq($until:lg) {
      width: 24px;
      height: 24px;
    }

  }
  span {
    display: block;
  }
}

.share-icon {
  width: 20px;
  height: 20px;
  @include mq(lg) {
    width: 24px;
    height: 24px;  
  }
}

.arrow-icon {
  width: 16px;
  height: 16px;
}

.mobile-blog-article__sidebar{
  @include mq(md) {
    display: none;
  }
  img {
    width: 24px;
    height: 24px;
  }
} 

// blogArticle end
