.product-tab {
  @include mq(md) {
    padding: 0 1.5rem;
  }
  @include mq(lg) { 
    padding: 0;
  }
  ul {
    border: 1px solid $gray-200;
  }
  img {
    width: 16px;
    height: 16px;
    @include mq(md) {
      width: 32px; 
      height: 32px;
    }
    @include mq(lg) {
      width: 44px; 
      height: 44px;
    }
  }
}

.product-tab__item {
  width: 33.3333%;
  position: relative;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: $primary;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s,visibility .3s;
    @include mq(md) {
      height: 8px;
    }
  }
  &:nth-child(2) {
    border-left: 1px solid $gray-200;
    border-right: 1px solid $gray-200;
  }
  &:hover {
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }
  &.is-active {
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.product__content{
  display: none;
} 

.product__inner {
  padding: 2rem 0 3.5rem;
  @include mq(md) {
    padding: 3.5rem 2.5rem 6rem;
  }
  @include mq(lg) {
    padding: 5rem 0 10rem;
  }
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  @include mq(md) {
    margin-left: -1.875rem;
  }
  li {
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 2.5rem;
    }
    @include mq(md) {
      margin-bottom: 4.5rem;
      &:nth-child(11),&:nth-child(12) {
        margin-bottom: 4.0625rem;
      }
    }
    @include mq(lg) {
      margin-bottom: 6.5rem;
      &:nth-child(9),&:nth-child(10),&:nth-child(11),&:nth-child(12) {
        margin-bottom: 6rem;
      }
    }
  }
}

.product__list--sun {
  li {
    @include mq(md) {
      &:nth-child(5),&:nth-child(6) {
        margin-bottom: 0;
      }
    }
    @include mq(lg) {
      &:nth-child(4),&:nth-child(5),&:nth-child(6) {
        margin-bottom: 0;
      }
    }
  }
}

.list__photo {
  position: relative;
  padding-top: 48%;
  @include mq(lg) {
    padding-top: 65%;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.list__box {
  span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    @include mq(md) {
      width: 24px;
      height: 24px;
    }
    &:first-child {
      background-color: $brown;
    }
    &:last-child {
      background-color: $orange;
    }
  }
}

